# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment variables
.env

# IDE/editor files
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
